<%-  include ("parts/top.ejs") %>
<br>
<br>
<br>
<br>
<br>


<div class="container ">
    <form method="POST" action="/register">
        <!-- name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" name="name" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Name</label>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" name="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
       
        <%if(message){%>
          <div class="alert alert-danger">
            <%= message%>
          </div>
          <%}%>
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Register</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>have an account ? <a href="/login">Login</a></p>
          
        </div>
      </form>
</div>
<%- include("parts/bottom.ejs") %>